:root {
  --primary: #C29C6C;
  --secondary: #D1B490;
  --background: #171717;
  --accent: #232323;
  --textlight: #FFFFFF;
  --textdark: #000000;
  --bordersoft: #D7D7D7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  color: var(--textlight);
  user-select: none;
  text-decoration: none !important;
}

::selection {
  background-color: #FFFFFF;
  color: #000000;
}

.select {
  user-select: text;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(15, 15, 15, 0.9);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  background-color: var(--textdark);
}

.custom-transition {
  transition: .3s ease-in-out;
}

.custom-h3 {
  font-size: 3rem;
  color: var(--textlight);
  letter-spacing: 2px;
}

.custom-small-box {
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  border: 2px solid var(--accent);
}

.custom-text-justify {
  text-align: justify !important;
}

.w-90 {
  width: 90%;
}

#overlay {
  z-index: 10;
  top: 0;
  background-color: var(--textdark);
  opacity: 1;
  transition: opacity 1.6s linear;
  pointer-events: none;
}

#overlay.fade-out {
  animation: fadeOut 1.6s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

#documentation, #downloadsite, #btn-top {
  bottom: 50px;
  right: 0px;
  border-radius: 6px 0px 0px 6px;
  background-color: var(--accent);
  border: 2px solid var(--primary);
  border-right: none;
  text-decoration: none;
  z-index: 5;
}

#downloadsite {
  bottom: 10px;
}

#documentation:hover,#downloadsite:hover {
  padding: 0.25rem 10px !important;
}

#btn-top {
  left: 0px !important;
  bottom: 10px !important;
  border-left: none;
  border-right: 2px solid var(--primary);
  border-radius: 0px 6px 6px 0px;
}

#main-nav {
  transition: .4s ease-in-out;
  z-index: 5; 
}

.main-nav-alt {
  background-color: rgba(15, 15, 15, 0.9) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin-top: 0px !important;
}

.navbar-toggler {
  border: none !important;
}

.nav-logo {
  width: 100px;
  margin: 0 auto;
}

.nav-logo:hover, .nav-link:hover {
  transform: scale(1.05);
  color: var(--textlight);
}

.navbar-nav {
  gap: 50px;
}

.navbar-brand {
  margin: 0;
}

.active {
  position: relative;
  color: var(--textdark) !important;
}

.active::after {
  z-index: -1;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: var(--primary);
}

.nav-link {
  padding: 1px 10px;
  transition: .3s ease-in-out;
  letter-spacing: 1px;
  color: var(--textlight);
}

#hero-section {
  height: 100vh;
  padding: 0 !important;
}

#hero-background {
  position: absolute;
  border-radius: 25px;
  background-image: url("../img/carpentry.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 90%;
  width: 95%;
  transition: .5s ease-in-out;
}

.hero-background-alt {
  height: 100% !important;
  width: 100% !important;
  border-radius: 0px !important;
}

#hero-content {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

#hero-content h1 {
  color: var(--primary);
  letter-spacing: 15px;
  font-weight: 800;
  font-size: 3.5rem;
}

#h1-span {
  color: var(--textlight);
  display: inline-block;
  word-break: break-word;
}

#h1-sub {
  font-size: 1.5rem;
  letter-spacing: 4px;
}

#hero-btn button {
  mask-image: radial-gradient(circle, var(--textlight), var(--textdark));
  -webkit-mask-image: -webkit-radial-gradient(circle, var(--textlight), var(--textdark));
  border: 2px solid var(--textlight);
  background-color: rgba(0, 0, 0, 0.7);
  width: 250px;
  height: auto;
  border-radius: 20px;
  text-decoration: none;
  color: var(--textlight);
  line-height: 75px;
  font-size: 15px;
  letter-spacing: 1px;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
}

#hero-btn button:first-child {
  background-color: rgba(167, 129, 83, 0.7);
}

#hero-btn button:hover {
  color: var(--textdark);
  transform: scale(1.05);
  font-size: 1rem;
}

.hero-btn-first:before, .hero-btn-second:before {
  content: '';
  position: absolute;
  transform: translateZ(0);
  top: 0;
  left: 0;
  background: var(--textlight);
  width: 130%;
  height: 100%;
  z-index: -1;
  transform-origin: 0 0;
  transition: transform .5s;
}

.hero-btn-first:before {
  transform: translateX(-100%) skewX(-30deg);
}

.hero-btn-second:before {
  transform: translateX(100%) skewX(30deg);
}

.hero-btn-first:hover:before {
  transform: translateX(0) skewX(-30deg);
}

.hero-btn-second:hover:before {
  transform: translateX(-15%) skewX(30deg);
}

@keyframes float {
  0% { transform: translateY(-10px); }
  50% { transform: translateY(0px); }
  100% { transform: translateY(-10px); }
}

#arrow {
  position: absolute;
  bottom: 60px;
  padding: 9px;
  font-size: 2rem;
  animation: 2s float ease-in-out infinite;
  transition: .5s ease-in-out;
}

.arrow-alt {
  opacity: 0;
}

#discount-section {
  background: linear-gradient(45deg, var(--textdark) 0%, var(--background) 45% 100%);
  padding: 100px 0px;
}

#discount-side {
  right: 0;
  top: 0;
  width: 30%;
  background-color: var(--accent);
  background-image: linear-gradient(to right, var(--background) 2px, transparent 1px);
  background-size: 20px;
  z-index: 1;
}

#discount-main {
  z-index: 2;
}

#discount-content {
  width: 90%;
  background-color: var(--accent);
  z-index: 2;
}

#discount-image {
  padding: 20px;
  background-color: var(--background);
  border-radius: 15px;
  z-index: 2;
}

.flash-zoom {
  animation: flashZoom 0.6s ease-in-out;
}

@keyframes flashZoom {
  0% { opacity: 1; transform: scale(1); }
  10% { opacity: 0.5; }
  20% { opacity: 1; transform: scale(0.95); }
  100% { opacity: 1; transform: scale(1); }
}

#discount-image .card {
  background-color: var(--background);
}

#discount-button {
  background-color: var(--primary);
}

#discount-button:hover {
  color: var(--textdark);
  padding: 1rem 2rem 1rem 1.5rem !important;
}

#discount-button span {
  color: var(--textdark);
}

#discount-price span {
  color: var(--primary);
}

#discount-price span:first-child {
  color: var(--textlight);
  background-color: var(--accent);
}

.separator {
  height: 10px;
}

#featured-section {
  padding: 50px 0px;
  overflow: hidden;
}

#featured-subtext a {
  color: var(--primary)
}

#featured-subtext span {
  color: var(--bordersoft);
}

#about-section {
  padding: 220px 0px !important;
  overflow: hidden;
  background-color: rgba(15, 15, 15, 0.5);
}

#about-section .row {
  gap: 100px;
}

#about-text {
  text-align: justify;
}

#about-text span {
  color: var(--primary);
}

#benefit-wrap {
  margin-top: 100px;
}

.benefit {
  text-align: center;
}

.benefit span {
  margin-bottom: 15px;
  color: var(--primary);
}

.benefit {
  text-align: center;
}

.line {
  width: 200px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--primary);
  pointer-events: none;
}

#about-info .line {
  margin-bottom: 90px;
}

#about-image {
  min-height: 500px !important;
}


/* PRODUCTS */

#exclusive-section {
  padding: 200px 0px 60px 0px !important;
}

#exclusive-section img {
  height: 100%;
  object-fit: cover;
}

.detail-item {
  color: var(--background);
  background-color: var(--primary);
  padding: 10px 10px;
  cursor: pointer;
  transition: border-radius 0.3s ease;
}

.detail-item span {
  color: var(--background);
}

.detail-content {
  height: 0;
  transition: 0.4s ease-in-out;
  line-height: 1.6;
  background-color: var(--secondary);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow-y: auto;
}

.detail-content ul {
  margin: 0;
}

.detail-content ul li, .detail-content ul li p {
  margin: 0;
  color: var(--background) !important;
  word-break: break-word;
  overflow-wrap: break-word;
}

.detail-content.open {
  height: 160px;
  padding: 10px;
  border-radius: 0px 0px 10px 10px !important;
}

.detail-item.open-panel {
  transform: 0.4s ease-in-out;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#catalogue-section {
  padding: 40px 0px;
}

#catalogue-filter {
  background-color: var(--background);
}

#catalogue-section .card {
  background-color: var(--background);
}

#catalogue-section select option {
  color: var(--textdark);
}

#catalogue-section .card-title {
  color: var(--secondary);
}

.card span {
  background-color: var(--primary);
}

#apply-filters {
  background-color: var(--primary);
}









/*-----------------------------------------------------------------------------------------------------------*/






#contact-section {
  margin-top: 250px;
}

#contact-socials {
  margin: 0px auto;
}

.contact-social {
  margin: 50px 0px;
  padding: 20px 25px;
  background-color: var(--primary);
  border-radius: 15px;
}

.contact-social:hover {
  transform: rotateZ(-10deg) scale(0.9);
}

#form-section {
  margin-top: 120px;
  margin-bottom: 100px;
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(139, 90, 43, 0.4);
}

.error {
  color: red;
  font-size: 0.85rem;
  position: absolute;
  top: 100%; 
  left: 0;
}

#tableType,
#tableModel {
  color: #000 !important;    
  background-color: #fff;
  border: 1px solid #ced4da; 
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  appearance: none; 
}

#tableType option {
  color: var(--textdark);
}

#location-section {
  position: relative;
  margin-bottom: 100px;
}

#form-section button {
  background-color: var(--primary);
}

#location-section img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.google-map-popup {
  position: absolute;
  background-color: var(--accent);
  padding: 5px 10px;
  border-radius: 10px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%) translateY(20px);
  opacity: 0;
}

#add-review-btn {
  background-color: var(--primary);
}

#review-section select option {
  color: var(--textdark);
}

#reviews {
  background-color: var(--accent);
}

/*-----------------------------------------------------------------------------------------------------------*/

#author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#author-section {
  margin-top: 200px;
  padding: 100px 0px;
  background-image: url("../img/author-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#author-image {
  padding: 0;
}

#author-description {
  background-color: var(--background);
  margin-left: 20px;
}

#author-description span {
  color: var(--secondary);
}

#author-index {
  position: absolute;
  top: 15px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  background-color: var(--secondary);
  text-align: center;
  line-height: 40px;
  border-radius: 15px;
}

#author-index p {
  color: var(--accent);
}

#author-image {
  position: relative;
}

#footer-wrap {
    background-color: var(--background);
    padding: 50px 0 20px;
    min-height: 450px;
}

.footer-logo {
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 0;
}

.footer-logo span {
    color: var(--secondary);
}

.footer-subtitle {
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 3rem;
    font-size: 14px;
}

.contact-btn {
    border: 2px solid var(--textlight);
    padding: 15px 30px;
    border-radius: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--textlight);
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.contact-btn:hover {
    background-color: var(--textlight);
    color: var(--background);
}

.contact-btn:hover i {
    color: var(--textdark) !important;
}

.contact-btn i {
    margin-left: 15px;
}

.footer-heading, .footer-heading-alt {
    color: var(--secondary);
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-heading-alt {
    color: var(--textlight);
}

.footer-line, .footer-line-alt {
    width: 95%;
    height: 3px;
    background-color: var(--primary);
    border-radius: 15px;
    margin-bottom: 30px;
}

.footer-line-alt {
    background-color: var(--textlight);
}

.footer-active {
    color: var(--secondary) !important;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin-bottom: 15px;
    transition: margin-left 0.3s ease;
}

.footer-list li a:hover {
    margin-left: 10px;
}

.footer-list a {
    color: var(--textlight);
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-list a:hover {
    color: var(--primary);
}

.footer-list .active a {
    color: var(--primary);
}

.footer-list i {
    margin-right: 12px;
}

.social-icons a {
    color: var(--textlight);
    font-size: 22px;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social-icons a i:hover {
  color: var(--primary);
}

.footer-bottom {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(245, 245, 245, 0.05);
}

.footer-bottom p {
  letter-spacing: 1px;
  font-size: 14px;
  margin: 0;
}



#message-wrap {
  position: relative;
  height: 100vh;
}

#msg-confirm {
  position: absolute;
  text-align: center;
  width: 600px;
  height: 200px;
  left: calc(50% - 300px);
  top: calc(50% - 200px);
}

#msg-confirm img {
  width: 200px;
}

#msg-confirm p {
  font-size: 30px;
  margin-bottom: 40px;
}

#msg-confirm a {
  background-color: var(--primary);
  font-size: 16px;
  letter-spacing: 2px;
  padding: 10px 50px;
  border-radius: 10px;
}

#msg-confirm a:hover {
  padding: 10px 60px;
}