@media (max-width: 1200px) {
    #discount-side {
        display: none !important;
    }

    #discount-content {
        width: 70%;
    }
}


@media (max-width: 991px) {
    .footer-logo {
        font-size: 28px;
    }
    
    .footer-subtitle {
        margin-bottom: 2rem;
    }

    .footer-column {
        margin-bottom: 2rem;
    }

    #author-description {
        margin-left: 0;
        margin-top: 20px;
    }

    .navbar {
        background-color: rgba(15, 15, 15) !important;
        margin-top: 0 !important;
    }

    .nav-item:nth-child(3) {
        display: none !important;
    }

    .navbar-nav {
        gap: 25px;
    }

    .nav-item {
        margin-bottom: 10px;
    }
    
    #exclusive-details {
        margin-top: 10px !important;
    }
    
    #exclusive-section {
        padding: 80px 0px 0px 0px!important;
    }

}

@media (max-width: 767px) {
    .footer-bottom {
        text-align: center !important;
    }

    .footer-bottom .col-md-4 {
        margin-bottom: 10px;
    }

    .social-icons {
        justify-content: center;
        margin-bottom: 15px;
    }

    #author-section {
        margin-top: 0px;
    }

    #products-section {
        padding: 0px !important;
    }

    #contact-section {
        margin-top: 120px;
    }

    #form-section {
        margin-top: 20px;
    }

    #hero-btn {
        flex-direction: column;
    }

    #arrow, #btn-top {
        display: none;
    }

    #hero-btn {
        padding: 20px 0px !important;
    }

    #h1-sub {
        font-size: 1.2rem !important;
    }

    #hero-header {
        padding-top: 50px !important;
    }

    #hero-background {
        width: 100%;
        height: 100%;
    }

    #discount-section {
        padding: 50px 0px !important;
    }

    #discount-main {
        align-items: center;
        text-align: center;
    }

    #discount-button {
        margin-bottom: 15px;
    }

    #discount-image {
        background-color: transparent;
        padding: 15px !important;
    }

    #about-section {
        padding: 50px 0px !important;
        text-align: center;
    }

    #about-image {
        min-height: 0 !important;
    }

    #about-info {
        margin-bottom: 0 !important;
    }

    #about-info .line {
        margin: 0px auto;
        margin-bottom: 30px;
    }

    .footer-line, .footer-line-alt {
        width: 100%;
    }
}